.products {
  padding: 4rem 0;
}

.module-wrapper {
  position: relative;
  margin: 0 auto;
  .shop-title {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
    margin-bottom: 5rem;

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: $letter-spacing;
      color: $secondary-color;
      margin-bottom: 1rem;
      word-spacing: $word-spacing;
      font-weight: 200;
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
  }
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

.product-img {
  display: block;
  width: 100%;
  // min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product {
  min-height: 300px;
  text-align: left;
  .title-wrapper {
    min-height: 53px;
    h3 {
      text-transform: uppercase;
      font-size: 1.1rem;
      margin-top: 1rem;
    }
  }
  .description-wrapper {
    min-height: 73px;
    p {
      font-weight: 400;
    }
  }

  h4 {
    font-weight: 600;
    color: #000;
    margin-top: 0.5rem;
  }
  button {
    width: 100%;
  }
}
