.slider-wrapper {
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 150px);
  width: 100vw;
  &.dark-bg {
    background: $primary-color;
  }
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  > img.main-slide {
    position: relative;
    width: 100%;
    opacity: 0;
    transform: scale(1.15);
    transition: transform 3s $cubic-bezier, opacity 1s ease;
  }
}

.slider .side-module {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 250px;
  max-width: 30%;
  height: 100%;
  margin: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
  transition: all 1s ease;
  img {
    max-height: 350px;
  }
}

.slider .current {
  z-index: 1;
  > img.main-slide {
    transform: scale(1);
    opacity: 1;
  }
  .side-module {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 1.25s $cubic-bezier 1s;
  }
}

.slider-control {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  .arrow #control {
    position: absolute;
    bottom: 0;
    left: calc(50vw - 80px);
  }
}

.arrow {
  background: transparent;
  border: none;
  color: $primary-color;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  @include easeOut();
  &:hover {
    color: $secondary-color;
  }
}

.section-scroll {
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
  i {
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 1.2rem;
    transform: translate3d(0, 0, 0);
    transition: transform 1s $cubic-bezier;
  }
  &:hover i {
    transform: translate3d(0, 16px, 0);
  }
}
