.slider-wrapper {
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 150px);
  width: 100vw;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.15);
  transition: opacity 1s ease, transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.slider .current {
  opacity: 1;
  transform: scale(1);
}

// Background images
.slide:first-child {
  background: url('../img/img5.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url('../img/img6.jpg') no-repeat center center/cover;
}

.buttons {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  #control {
    position: absolute;
    bottom: 0;
    left: calc(50vw - 80px);
  }
}

.buttons button {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  @include easeOut();
  &:hover {
    color: #fff;
  }
}
