@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
@import 'config';
@import 'signin';
@import 'menu';
@import 'slider';

* {
  box-sizing: border-box;
}

body {
  color: $primary-color;
  font-family: 'Titillium Web', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  // opacity: 0.8;
  letter-spacing: 0.04rem;
  // min-height: 100%;
  // max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  border: none;
  background: $bckgrd-color;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

// Header
header {
  position: relative;
  display: block;
  height: 60px;
}

.header-wrapper {
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: $bckgrd-color;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.header-sticky {
  width: 94%;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  &.close {
    z-index: 800;
  }

  .main-menu-btn {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    @include easeOut();
    &:hover {
      color: $secondary-color;
    }
  }

  .hamburger-menu {
    font-size: 1.3rem;
  }

  .text {
    vertical-align: top;
    margin-left: 0.4rem;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 1rem;
    margin-left: -2rem;
    display: block;
  }

  .header-menu-right {
    height: 60px;
    float: right;
    ul li.header-menu-item {
      display: inline-block;
      height: 60px;
      position: relative;
    }
  }
}
// .my:hover .header-menu-dialog  {
//   visibility: visible;
//   .signin {
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
//   }
// }
