@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Montserrat:500|Allura|Titillium+Web:300,600');
// @import url('https://fonts.googleapis.com/css?family=Allura|Open+Sans:400,600');
@import 'config';
@import 'signin';
@import 'menu';
@import 'slider';
@import 'products';
@import 'personalize';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  // position: relative;
  color: $primary-color;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  letter-spacing: 0.04rem;
  min-width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  &.modal-opened {
    overflow: hidden;
  }

  // overflow: hidden;
}

// .container {
//   width: 100vw;
//   height: 100%;
// }

section.section {
  width: 100%;
  overflow: hidden;
  //
  // height: 100%;
}

picture {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 400;
}

h2.headline {
  color: $secondary-color;
  letter-spacing: $letter-spacing;
  margin-bottom: 1rem;
  word-spacing: $word-spacing;
}

h4 {
  font-weight: 400;
  margin-top: 1rem;
}

p {
  // letter-spacing: 0;
  // font-weight: 600;
  font-size: 17px;
  + p {
    text-indent: 1rem;
  }
  &.large {
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

.btn {
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn-action {
  position: relative;
  display: inline-block;
  line-height: 3;
  // background: $bckgrd-color;
  border: $border;
  border-radius: 2px;
  transition: color 0.2s ease, border 0.2s ease;
  overflow: hidden;
  box-sizing: border-box;
  // &.dark-theme {
  //   background: $dark-blue;
  //   color: $bckgrd-color;
  // }
  &:hover:enabled {
    color: $bckgrd-color;
    border-color: $secondary-color;
    &::before {
      transform: scaleY(1);
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: $secondary-color;
    transform: scaleY(0);
    transition: transform 0.5s $cubic-bezier;
    transform-origin: 0 0;
  }
  &:disabled {
    color: #c69c67;
    cursor: context-menu;
  }
  > span {
    position: relative;
  }
}

.red-theme {
  background: $secondary-color;
  color: $bckgrd-color;
  // background-color: none;
  &:hover {
    color: $secondary-color !important;
    border-color: $gray-border-color !important;
  }
  &::before {
    background: $bckgrd-color;
  }
}

.dark-theme {
  background: $dark-blue;
  color: $bckgrd-color;
  &:hover {
    color: $dark-blue !important;
    border-color: $gray-border-color !important;
  }
  &::before {
    background: $bckgrd-color;
  }
}

.light-theme {
  color: $bckgrd-color;
  background: transparent;
  &:hover {
    color: #000 !important;
    border-color: $bckgrd-color !important;
  }
  &::before {
    background: $bckgrd-color;
  }
}

.buy-now {
  width: 80%;
}

// Header
header {
  position: relative;
  display: block;
  height: 60px;
}

.header-wrapper {
  // visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100vw;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: $bckgrd-color;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  // box-shadow: 0 2px 1px 0 rgba(198, 156, 103, 0.5);

  @include easeOut();
  &.hide {
    top: -100%;
  }
}

.header-sticky {
  position: relative;
  z-index: 1000;
  background: $bckgrd-color;
  &.close {
    z-index: 800;
  }

  // img {
  //   height: 100%;
  // }

  .column {
    width: 94%;
    margin: 0 auto;
  }

  .main-menu-btn {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    @include easeOut();
    &:hover {
      color: $secondary-color;
    }
    &:active .hamburger-menu:before {
      opacity: 1;
      transform: scale(0);
    }
  }

  .hamburger-menu {
    font-size: 1.3rem;
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;

    // Ripple effect
    &:before {
      content: '';
      opacity: 0;
      position: absolute;
      top: 1px;
      left: -3px;
      background: $secondary-color;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      transform: scale(1.8);
      @include easeOutQuick();
    }
  }

  // .text {
  //   vertical-align: top;
  //   margin-left: 0.4rem;
  // }

  .logo {
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -2rem;
    // display: block;
    img {
      // display: inline-block;
      height: 50px;
    }
  }

  #search-btn {
    font-size: 20px;
    span {
      display: none;
    }
  }

  .header-menu-right {
    height: 60px;
    float: right;
    padding: 0 1rem;
    position: relative;
    ul li.header-menu-item {
      display: inline-block;
      height: 60px;
      position: relative;
      @include easeOut;
      &:not(:last-child):hover {
        color: $secondary-color;
        // img {
        //   filter: invert(27%) sepia(97%) saturate(5159%) hue-rotate(344deg)
        //     brightness(78%) contrast(116%);
        // }
      }
      &.my {
        // background: #000;
        margin: 0 20px;
        // &:hover {

        // }
        span .typo {
          font-family: 'Allura', cursive, sans-serif;
          font-weight: bold;
          font-size: 22px;
        }
      }
    }
  }
}

// Search
.header-search {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  opacity: 1;
  transform: translateY(0%);
  height: auto;
  transition: opacity 0.4s linear, transform 0.8s $cubic-bezier;
  z-index: 851;

  .white-bg {
    background: #f9f9f9;
    width: inherit;
    height: auto;
    padding: 1rem 0;
  }

  &.header-search-closed {
    opacity: 0;
    transform: translateY(-200%);
    transition: opacity 0.2s linear, transform 0.6s $cubic-bezier;
  }

  .search-block {
    // max-width: 550px;
    margin: 0 auto;
    color: $primary-color;
    position: relative;
    width: 1.5rem;
    transition: width 0.2s linear 0.5s;
    &.search-block-close {
      width: 550px;
      label {
        opacity: 1;
      }
    }
  }
  .input-text {
    width: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    border: none;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    padding: 0 1rem;
    background: inherit;
    border-left: 2px solid #7e7e7e;
    // z-index: -1;
  }

  label {
    position: absolute;
    bottom: -12px;
    left: 0;
    font-weight: 400;
    margin-left: 0.5rem;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s linear 0.5s;
  }

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -1rem;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }

  #search-result {
    margin: 0 auto;
    width: 550px;
    .matched {
      font-weight: 400;
      background: #f9f9f9;
      text-align: left;
      &:last-child {
        border-bottom-left-radius: $border-radius-big;
        border-bottom-right-radius: $border-radius-big;
      }
      &:hover {
        color: $secondary-color;
        background: #ededed;
      }
      > a {
        width: 100%;
        padding: 1rem;
        display: inline-block;
      }
    }
  }
}

button#search-close {
  background: $bckgrd-color;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity 0.2s linear, transform 0.6s $cubic-bezier;
  box-shadow: none;
  min-width: 100%;
  .search-x {
    left: 12%;
  }
  &.activated {
    opacity: 1;
    transform: translateY(0%);
  }
}

// cart
.cart-btn {
  position: relative;
  cursor: pointer;
  .cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -12px;
    background: $secondary-color;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    border-radius: 50%;
    color: $bckgrd-color;
  }
}

// history
section.history {
  width: 80%;
  margin: 4rem auto;
  height: 50%;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .history-wrapper {
    grid-column-gap: 2rem;
    // grid-row-gap: 5rem;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    align-items: start;
    align-content: start;
    .history-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .signature img {
        max-width: 200px;
      }
    }

    .history-img {
      margin: auto 0;
      img {
        max-width: 100%;
      }
    }
  }
}

.section-container {
  max-width: 1180px;
  width: 80%;
  margin: 4rem auto;
}

.for-customers {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-columns: 48% 48%;
  grid-item:nth-child(4) {
    order: 3;
  }
  grid-item:nth-child(3) {
    order: 4;
  }

  img {
    max-width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: -1;
  }
}

.from-center {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  &:nth-of-type(odd) {
    transform: translate3d(20%, 10%, 0);
    transition: all $cubic-bezier 0.7s;
  }
  &:nth-of-type(even) {
    transform: translate3d(-20%, 10%, 0);
    transition: all $cubic-bezier 0.7s;
  }
  &.fade-in {
    opacity: 1;
    transform: translate3d(0, 0, 0) !important ;
  }
}

// Parallax
.parallax {
  .pimg-1,
  .pimg-2 {
    height: 21vw;
    background-attachment: fixed;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
  // (../img/dark-section.jpg)
  .pimg-1 {
    background-image: url('../img/main2.jpg');
  }

  .pimg-2 {
    background-image: url('../img/overflow2.jpg');
  }
}

// footer
footer .footer-wrapper {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
  background: #f9f9f9;
  button {
    margin: 0 auto 1rem;
    width: 200px;
  }
}

.footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  padding: 2rem;
  text-align: left;
  font-size: 14px;

  ul:not(:last-of-type) {
    border-right: $border;
  }

  ul li a {
    color: inherit;
    @include easeOut();
    &:hover {
      color: $secondary-color;
    }
  }

  ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    color: $secondary-color;
  }
}

footer .footer-bottom {
  background: #f2f2f2;
  padding: 1rem;
  text-align: center;
  font-size: 12px;
}
